<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul
      class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >

      <!-- Sidebar - Brand -->
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="index.html"
      >
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Furniture <sup>2</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0" />

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" id="home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <hr class="sidebar-divider" />
      <div class="sidebar-heading">
        Item
      </div>

      <li class="nav-item">
        <a class="nav-link" id="navigate_style">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Style</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" id="navigate_category">
          <i class="fas fa-fw fa-table"></i>
          <span>Category</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" id="navigate_product">
          <i class="fas fa-fw fa-table"></i>
          <span>Product</span></a>
      </li>

      <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" id="navigate_order">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Orders</span></a>
            </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>



    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
      
        <!-- Topbar -->
        <nav
          class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
        >

          <!-- Sidebar Toggle (Topbar) -->
          <button
            id="sidebarToggleTop"
            class="btn btn-link d-md-none rounded-circle mr-3"
          >
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          >
            <div class="input-group">
              <input
                type="text"
                class="form-control bg-light border-0 small"
                placeholder="Search for..."
                aria-label="Search"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
          
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="searchDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div
                class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown"
              >
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control bg-light border-0 small"
                      placeholder="Search for..."
                      aria-label="Search"
                      aria-describedby="basic-addon2"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="alertsDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown"
              >
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready
                      to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for
                    your account.
                  </div>
                </a>
                <a
                  class="dropdown-item text-center small text-gray-500"
                  href="#"
                >Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="messagesDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
              </a>
              <!-- Dropdown - Messages -->
              <div
                class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown"
              >
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="img/undraw_profile_1.svg"
                      alt="..."
                    />
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you
                      can help me with a problem I've been having.</div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="img/undraw_profile_2.svg"
                      alt="..."
                    />
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">I have the photos that you
                      ordered last month, how would you like them sent to you?</div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="img/undraw_profile_3.svg"
                      alt="..."
                    />
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Last month's report looks great,
                      I am very happy with the progress so far, keep up the good
                      work!</div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img
                      class="rounded-circle"
                      src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                      alt="..."
                    />
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask
                      is because someone told me that people say this to all
                      dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a
                  class="dropdown-item text-center small text-gray-500"
                  href="#"
                >Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="userDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span
                  class="mr-2 d-none d-lg-inline text-gray-600 small"
                >{{email}}</span>
                <img class="img-profile rounded-circle" src="{{avatar}}" />
              </a>
              <!-- Dropdown - User Information -->
              <div
                class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown"
              >
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="#"
                  data-toggle="modal"
                  data-target="#logoutModal"
                >
                  <i
                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                  ></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <a class="btn btn-info btn-icon-split"  data-toggle="modal" data-target="#updateImages" >
          <span class="icon text-white-50" style="display:flex; align-items:center">
          <i class="fas fa-plus"></i>
          </span>
          <span class="text">Add Images</span>
          </a>
          <i  style="margin-left:20px; cursor:pointer; position:absolute; right:50px; top:120px" class="fa fa-marker editAble" 
                    data-toggle="modal"
                    data-target="#updateAllData"></i>

          <!-- Product section-->
          <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
              <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                  <div style="width: 100%; height: 100%">
                    <div
                      id="carouselExampleControls"
                      class="carousel slide"
                      data-interval="false"
                      style="width:100%; height:100%"
                    >
                      <div class="carousel-inner">
                        {{#if images}}
                          {{#each images}}
                         <div class="carousel-item">
                          {{#if (isValidURL this.url)}}
                          <img
                            class="d-block w-100"
                            src={{this.url}}
                            style="background-size:contain"
                          />
                          {{else}}
                          <img
                            class="d-block w-100"
                            src="/images/no_data.png"
                            style="background-size:cover"
                          />
                          {{/if}}
                        </div>
                        {{/each}}
                        {{else}}
                        <img
                            class="d-block w-100"
                            src="/images/no_data.png"
                            style="background-size:cover"
                          />
                        {{/if}}
                      </div>
                      <a
                        class="carousel-control-prev"
                        href="#carouselExampleControls"
                        role="button"
                        data-slide="prev"
                      >
                        <span
                          class="carousel-control-prev-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a
                        class="carousel-control-next"
                        href="#carouselExampleControls"
                        role="button"
                        data-slide="next"
                      >
                        <span
                          class="carousel-control-next-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                    
                  </div>
                </div>
                <div class="col-md-6" style="width: 100%; height: 100%">
                  <div class="small mb-1">SKU: BST-498</div>
                  <div style="display:flex; align-items: center;">
                    <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                  </div>
                  <div class="fs-5 mb-3">
                    <span class="text-decoration-line-through">$ {{product.price}}</span>
                  </div>
                  <h6 class="text-dark">Categories: </h6>
                  <div>
                    {{#if category}}
                    {{#each (returnNewArr category allCategory)}}
                    <span class="badge badge-info">{{this.name}}</span>
                    {{/each}}
                    {{else}}
                    <span>no data!!</span>
                    {{/if}}
                    <button
                      class="btn btn-success btn-circle btn-sm"
                      data-toggle="modal" 
                      data-target="#exampleModal"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <h6 class="mt-3 text-dark">Styles: </h6>
                  <div>
                    {{#if style}}
                    {{#each (returnNewArr style allStyle)}}
                    <span class="badge badge-primary">{{this.name}}</span>
                    {{/each}}
                    {{else}}
                    <span>no data!!</span>
                    {{/if}}
                    <button
                      class="btn btn-success btn-circle btn-sm"
                      data-toggle="modal" 
                      data-target="#updateStyles"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <h6 class="mt-3 text-dark">Description: </h6>
                  <p class="lead">
                    {{product.description}}
                  </p>
                  <div class="d-flex">
                    <h6>Sản phẩm còn trong kho:
                      <span class="text-info">{{product.inventory}}</span>
                    </h6>
                  </div>
                  <div class="d-flex">
                    <h6>Sản phẩm Đã bán: <span class="text-info">{{product.sold}}</span> </h6>
                  </div>
                  <div class="d-flex">
                    <h6>Feedback: <span class="text-info">200</span> </h6>
                  </div>
                  <h2 class="mt-3 text-dark">Star Rating</h2>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
            </div>
          </section>
          <section class="py-5 bg-light">
            <h2 class="fw-bolder mb-4">Feedback</h2>
            <div class="text-justify darker mt-4">
              <img
                src="https://i.imgur.com/CFpa3nK.jpg"
                alt=""
                class="rounded-circle"
                width="40"
                height="40"
              />
              <h4>Rob Simpson</h4>
              <span>- 20 October, 2018</span>
              <br />
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusamus numquam assumenda hic aliquam vero sequi velit
                molestias doloremque molestiae dicta?</p>
            </div>

            <div class="text-justify darker mt-4">
              <img
                src="https://i.imgur.com/CFpa3nK.jpg"
                alt=""
                class="rounded-circle"
                width="40"
                height="40"
              />
              <h4>Rob Simpson</h4>
              <span>- 20 October, 2018</span>
              <br />
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Accusamus numquam assumenda hic aliquam vero sequi velit
                molestias doloremque molestiae dicta?</p>
            </div>

          </section>
          <!-- Related items section-->
          <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5">
              <h2 class="fw-bolder mt-4 mb-4">Related products</h2>
              <div
                class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
              >
                <div class="col mb-5">
                  <div class="card h-100">
                    <!-- Product image-->
                    <img
                      class="card-img-top"
                      src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                      alt="..."
                    />
                    <!-- Product details-->
                    <div class="card-body p-4">
                      <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Fancy Product</h5>
                        <!-- Product price-->
                        $40.00 - $80.00
                      </div>
                    </div>
                    <!-- Product actions-->
                    <div
                      class="card-footer p-4 pt-0 border-top-0 bg-transparent"
                    >
                      <div class="text-center"><a
                          class="btn btn-outline-dark mt-auto"
                          href="#"
                        >View options</a></div>
                    </div>
                  </div>
                </div>
                <div class="col mb-5">
                  <div class="card h-100">
                    <!-- Sale badge-->
                    <div
                      class="badge bg-dark text-white position-absolute"
                      style="top: 0.5rem; right: 0.5rem"
                    >Sale</div>
                    <!-- Product image-->
                    <img
                      class="card-img-top"
                      src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                      alt="..."
                    />
                    <!-- Product details-->
                    <div class="card-body p-4">
                      <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Special Item</h5>
                        <!-- Product reviews-->
                        <div
                          class="d-flex justify-content-center small text-warning mb-2"
                        >
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                        </div>
                        <!-- Product price-->
                        <span
                          class="text-muted text-decoration-line-through"
                        >$20.00</span>
                        $18.00
                      </div>
                    </div>
                    <!-- Product actions-->
                    <div
                      class="card-footer p-4 pt-0 border-top-0 bg-transparent"
                    >
                      <div class="text-center"><a
                          class="btn btn-outline-dark mt-auto"
                          href="#"
                        >Add to cart</a></div>
                    </div>
                  </div>
                </div>
                <div class="col mb-5">
                  <div class="card h-100">
                    <!-- Sale badge-->
                    <div
                      class="badge bg-dark text-white position-absolute"
                      style="top: 0.5rem; right: 0.5rem"
                    >Sale</div>
                    <!-- Product image-->
                    <img
                      class="card-img-top"
                      src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                      alt="..."
                    />
                    <!-- Product details-->
                    <div class="card-body p-4">
                      <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Sale Item</h5>
                        <!-- Product price-->
                        <span
                          class="text-muted text-decoration-line-through"
                        >$50.00</span>
                        $25.00
                      </div>
                    </div>
                    <!-- Product actions-->
                    <div
                      class="card-footer p-4 pt-0 border-top-0 bg-transparent"
                    >
                      <div class="text-center"><a
                          class="btn btn-outline-dark mt-auto"
                          href="#"
                        >Add to cart</a></div>
                    </div>
                  </div>
                </div>
                <div class="col mb-5">
                  <div class="card h-100">
                    <!-- Product image-->
                    <img
                      class="card-img-top"
                      src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                      alt="..."
                    />
                    <!-- Product details-->
                    <div class="card-body p-4">
                      <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Popular Item</h5>
                        <!-- Product reviews-->
                        <div
                          class="d-flex justify-content-center small text-warning mb-2"
                        >
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                        </div>
                        <!-- Product price-->
                        $40.00
                      </div>
                    </div>
                    <!-- Product actions-->
                    <div
                      class="card-footer p-4 pt-0 border-top-0 bg-transparent"
                    >
                      <div class="text-center"><a
                          class="btn btn-outline-dark mt-auto"
                          href="#"
                        >Add to cart</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2021</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Modal update categories-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add categories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          {{#each allCategory}}
          {{#if (isCheck ../category this._id)}}
          <input class="data-checkbox" type="checkbox" id={{this._id}} value={{this._id}} checked="true"/>
          <label for={{this._id}}>{{this.name}}</label>
          {{else}}
          <input class="data-checkbox" type="checkbox" id={{this._id}} value={{this._id}} />
          <label for={{this._id}}>{{this.name}}</label>
          {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="updateCategories" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


  <!-- Modal update styles-->
<div class="modal fade" id="updateStyles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Styles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          {{#each allStyle}}
          {{#if (isCheck ../style this._id)}}
          <input class="data-checkboxStyle" type="checkbox" id={{this._id}} value={{this._id}} checked="true"/>
          <label for={{this._id}}>{{this.name}}</label>
          {{else}}
          <input class="data-checkboxStyle" type="checkbox" id={{this._id}} value={{this._id}} />
          <label for={{this._id}}>{{this.name}}</label>
          {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="updateStyleButton" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal update images-->
<div class="modal fade" id="updateImages" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
          id="sharkTank"
          style="top:0; bottom: 0; left: 0; right: 0; position: absolute; display: flex; justify-content: center; z-index: 20; align-items: center; display:none"
        >
          <img
            src="https://i.pinimg.com/originals/5a/c6/1c/5ac61cf4028d6da14546c08370fb9f81.gif"
            style="width:50px;height:50px;"
          />
        </div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateImages">Add your images</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data">
          <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupImages" multiple>
          <label class="custom-file-label" for="inputGroupImages">Choose file</label>
        </div>
      </div>
      <div id="containerImages" style="display:flex; flex-wrap:wrap;">
      </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="sendImages" type="button" class="btn btn-primary">Save changes</button>
      </div>
  </div>
</div>
</div>


<!-- Modal update All-->
<div class="modal fade" id="updateAllData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div
          id="sharkTank2"
          style="top:0; bottom: 0; left: 0; right: 0; position: absolute; display: flex; justify-content: center; z-index: 20; align-items: center; display:none"
        >
          <img
            src="https://i.pinimg.com/originals/5a/c6/1c/5ac61cf4028d6da14546c08370fb9f81.gif"
            style="width:50px;height:50px;"
          />
        </div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit product information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
          <label for="productDetailName">Product Name</label>
          <input type="text" class="form-control" id="productDetailName" value="{{product.name}}"/>
        </div>
        <label for="exampleInputEmail1">Product Price</label>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
              </div>
              <input id="InputProductPrice" type="text" class="form-control"
                  aria-label="Amount (to the nearest dollar)" value="{{product.price}}">
          </div>
          <label for="exampleInputEmail1">Product Thumbnail</label>
            <div class="input-group mb-3">
            <div class="custom-file">
            <input type="file" class="custom-file-input" id="productDetailFileImage">
            <label class="custom-file-label" for="productDetailFileImage">Choose file</label>
            </div>
            </div>
            <img id="productDetailURLimage" style="width:50px; height:50px;" src="{{product.thumbnail}}"/>
            <div class="form-group">
            <label for="productDetailDescription">Description</label>
            <textarea class="form-control" id="productDetailDescription" rows="3"/>{{product.description}}</textarea>
            </div>
            <div class="form-group">
             <label for="exampleInputEmail1">Product Number</label>
             <input type="number" class="form-control" id="productDetailInventory"
             placeholder="Product Number" value="{{product.inventory}}">
             </div>
        </form>      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="updateAllInfo" type="button" class="btn btn-primary">Save changes</button>
      </div>
  </div>
</div>


<!-- Modal update styles-->
<div class="modal fade" id="updateStyles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateStylesLabel">Add Styles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


  <!-- Logout Modal-->
  <div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button
            class="close"
            type="button"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end
          your current session.</div>
        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            type="button"
            data-dismiss="modal"
          >Cancel</button>
          <a id="confirm" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/javascripts/sb-admin-2.min.js"></script>
  <script src="/javascripts/productDetail.js"></script>
  <!--Add Commas-->
  <script src="/javascripts/handleAddCommas.js"></script>
</body>